@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {font-family: 'Plus Jakarta Sans', sans-serif;background: #fff;overflow: auto;font-size: 14px;overflow-x: hidden;padding-top: 0px;}
a, a:hover, a:focus {  text-decoration: none;  transition: all 400ms ease; }
img{max-width: 100%}
input, button { outline: none; box-shadow: none;  }
.owl-carousel .owl-item img{width: auto;}
.mobile{display: none !important;}
.text-end{
    text-align: right;
}
section{
    padding: 80px 0;
}
.sectionHeading h2{
    font-size: 40px;
    color: #3042FB;
    font-weight: 600;
}
.sectionHeading h3{
    font-size: 32px;
    color: #000000;
    font-weight: 400;
    margin: 0 0 5px;
}
.mainHeader {
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 400ms ease;
    position: fixed;
}
header.mainHeader.fixedHeader{
    background: #253f89;
}
.listInline {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}
.unorderList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.gap20{
    gap: 20px;
}
.navbar-brand img {
    max-width: 300px;
}
nav#mainNav {
    background: #253F89 !important;
    padding: 5px 0;
}
nav#mainNav .nav-item > a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 5px;
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: uppercase;
}
nav#mainNav .nav-item > a:hover {
    color: #02A5FF;
}
nav#mainNav .nav-item {
    padding: 0 15px;
}
.dropmenu {
    position: relative;
}

.dropmenuWrp {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    min-width: 150px;
    padding: 5px 0;
    box-shadow: 4px 10px 10px #0000002e;
    display: none;
}

.dropmenuWrp li a {
    display: block;
    padding: 5px 10px;
    color: #5B3700;
    font-size: 14px;
}

.dropmenu:hover .dropmenuWrp {
    display: block;
}

nav#mainNav .nav-item > a:hover, .dropmenu:hover > a {
    color: #dcdcdc !important;
}

.dropmenuWrp li a:hover {
    background: #f5f5f5;
}
.dropmenuToggle {
    position: absolute;
    right: 0;
    top: 19px;
    color: #fff;
}
/* .banner {
    background: url(../images/banner-bg.png) 0 0 no-repeat;
    background-size: cover;
} */
.slide .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide .container ul {
  align-items: center;
  justify-content: center;
}
.slide .container h3 {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 30px 0;
    line-height: 32px;
}

.slide .container h1 {
    color: #ffffff;
    font-size: 80px;
    margin: 10px 0 20px; 
    font-weight: normal;
    line-height: 90px;
}

.sliderOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000b3;
}
.carousel .thumbs-wrapper{
  display: none;
}
.sliderDiv > img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.lineBtn, .colorBtn, .blueBtn, .greyBtn {
    display: inline-flex;
    padding: 10px 20px;
    background: #CFFB8F;
    border-radius: 50px;
    color: #000 !important;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}
.colorBtn{
    text-transform: none;
}
.lineBtn{
   background: transparent;
   border: solid 1px #CFFB8F;
   color: #CFFB8F !important;
}
.blueBtn{
    background: #253F89;
    padding: 10px 25px;
    color: #fff !important;
}
.greyBtn{
    background: #eaecfd;
    color: #616167 !important;
    text-transform: none;
    border: none;
    font-size: 12px;
    outline: none !important;
}
section.banner {
    position: relative;
    padding: 0;
}

.bannerContent {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

section.banner > img {
    width: 100%;
}
.bannerContent .listInline {
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.bannerContent h1 span{
    color: #CFFB8F;
    font-weight: 600;
}
.trust{
    padding: 0px 0;
}
.trust h3{
    font-size: 32px;
    line-height: 43px;
    font-weight: 500;
    color: #253F89;
}
.trust h3 span{
    font-weight: 600;
    color: #3042FB;
}
.trust .listInline{
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.explore{
    background: #CFE8FF;
}
.para{
    font-size: 16px;
    color: #262626;
    line-height: 27px;
}
.colorBx{
    background: #253F89;
    padding: 30px;
    border-radius: 10px;
}
.colorBx img{
    width: 100%;
    height: 150px;
    object-fit: scale-down;
}
.colorBx h3{
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
    margin: 20px 0;
    min-height: 65px;
}
.caseStudyWrp img{
    width: 100% !important;
    border-radius: 10px;
}
.caseStudyWrp h3{
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    font-weight: 500;
    margin: 0 0 15px;
}
.caseStudyWrp p {
    margin: 15px 0 25px;
    font-size: 18px;
    line-height: 33px;
}
.caseStudyWrp .owl-nav button{
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%);
    outline: none !important;
}
.caseStudyWrp .owl-nav button.owl-next{
    left: auto;
    right: -80px;
}
.caseStudyWrp .owl-dots, .testimonialWrp .owl-dots{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.caseStudyWrp .owl-dots button, .testimonialWrp .owl-dots button{
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    border-radius: 50%;
}
.caseStudyWrp .owl-dots button.active, .testimonialWrp .owl-dots button.active{
    background: #253F89;
}
.whyUs{
    background: #253F89;
}
.whyUs .sectionHeading h2, .whyUs .sectionHeading h3{
    color: #fff;
}
.whyUsBx{
    padding: 20px;
    background: #2D4B9C;
    border-radius: 24px;
}
.whyUsBx h3{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0;
}
.whyUsBx img{
    height: 70px;
}
.whyUsBx p{
    color: #fff;
    font-size: 15px;
    margin: 0;
}
.weWork{
    background: #EEF1F5;
}
.clientList{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.testimonialWrp{
    width: 125%;
}
.testimonialWrp .owl-nav{
    position: absolute;
    top: -110px;
    right: 25%;
    display: flex;
    gap: 20px;
}
.testimonialWrp .owl-nav button{
    outline: none !important;
}
.testimonialWrp .owl-nav button img, .caseStudyWrp .owl-nav button img{
    width: 60px !important;
}
.testimonialBx{
    /* background: url(../images/testimonial-bg.png) 0 0 no-repeat; */
    background-size: 100% 100% !important;
    padding: 30px;
    padding-right: 60px;
}
.testimonialBx img.userImg{
    width: 80px !important;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonialBx h3{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #000;
}
.testimonialBx p{
    font-size: 14px;
    line-height: 28px;
    color: #000;
    margin: 0;
}
.testimonialBx .text-end img{
    width: 20px !important;
    display: inline-block !important;
}
.testimonialBx .text-end{
    position: relative;
    right: 30px;
    bottom: -10px;
}
.testimonialWrp .owl-dots{
    max-width: calc(100% - 25%);
}
.blog{
    background: #F6F6F6;
}
.blogBx{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}
.blogBx .d-flex{
    margin: 15px 0;
}
.blogBx .d-flex span{
    font-size: 13px;
    color: #999;
}
.blogBx h3{
    font-size: 20px;
    line-height: 32px;
    color: #000;
    font-weight: 500;
    margin:  0 0 15px;
}
.blogBx .text-end{
    margin-top: 15px;
}

.solutions {
  background-color: #F0F3F9;
  padding: 90px 0;
}

.solutionsBx {
  padding: 20px;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.solutionsBxContent {
  background: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 25px;
  border-radius: 10px 0;
  /* position: relative; */
  transition: all 500ms ease;
  opacity: 1;
  transform: translateY(-0px);
}

.overlay_content {
  padding: 25px;
  background: #fff;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  transform: translateY(20px);
  transition: all 500ms ease;
}

.solutionsBxContent ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.solutionsBxContent ul li:after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background: #3785878f;
  left: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.solutionsBxContent ul li {
  position: relative;
  padding-left: 20px;
  color: #4a4e56;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
}

.solutionsBxContent ul li:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background: #378587;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.ovarlay_link a {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 10px 0;
  background: #253F89;
  text-align: center;
  line-height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-150%);
  color: #fff;
  opacity: 0;
}

.solutionsBxWithoutHover {
  min-height: 360px;
}

.solutionsBxWithoutHover .overlay_content, .solutionsBxWithoutHover .ovarlay_link a{
  opacity: 1;
}
.solutionsBxWithoutHover .overlay_content{
      transform: translateY(0px);
}
.solutionsBx:hover .solutionsBxContent{
  opacity: 0;
  transition: all 500ms ease;
  transform: translateY(-20px);
}
.solutionsBx:hover .overlay_content, .solutionsBx:hover .ovarlay_link a{
  opacity: 1;
}
.solutionsBx:hover .overlay_content{
  transform: translateY(0px);
  transition: all 500ms ease;
}
footer {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 60px 0px;
  background-color: #282F3B;
}

.footerLinks h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  margin-bottom: 40px;
}
.footerLinks h3:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  background: #253F89;
  left: 0;
  bottom: -15px;
}

.footerLinks ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footerLinks ul li a {
  display: block;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 6px;
  color: #aaafb8;
}

.footerLinks p {
  color: #aaafb8;
  margin-bottom: 0;
}
.footerLinks h6 {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 8px;
}
.copyright {
  padding: 20px 0;
  background-color: #1F2530;
}
.footer_copy_content {
  color: #aaafb8;
  margin: 0;
  padding: 8px 0 0;
}
.social_media_v_one ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 50px;
  background: #282f3b;
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
}

.con_content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.con_content h5 {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
  margin: 0;
}

.con_content a {
  color: #aaafb8;
}


section.innerBanner {
  position: relative;
  padding-top: 55px;
  padding-bottom: 0;
}

section.innerBanner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

section.innerBanner h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 800;
  z-index: 2;
}
.bannerOvelay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000b5;
  z-index: 1;
}


.contactBx h3 {
  font-size: 36px;
  color: #fff;
  margin: 0 0 15px;
}

.contactBx {
  padding: 20px;
  background: #1e326e;
  border-radius: 20px;
}

.form-control {
  background: #273b73 !important;
  border: none;
  color: #fff !important;
  border-radius: 15px;
  font-size: 14px;
  outline: none !important;
  box-shadow: none !important;
  height: auto;
  padding: 10px 15px;
  resize: none;
}
.form-control::placeholder{
  color: #fff !important;
}
.form-group {
  margin-bottom: 1rem;
}
.fullWidth {
  width: 100%;
  border: none;
}

@media only screen and (max-width:991px){
  .navbar-brand img{
    max-width: 250px;
  }
  .slide .container h1 {
      font-size: 40px;
      line-height: 50px;
  }

  .slide .container h3 {
      font-size: 16px;
      line-height: 24px;
  }
  .colorBx{
    margin-bottom: 30px;
  }
  .con_content {
    flex-wrap: wrap;
  }
  body{padding-top: 60px; overflow-x: hidden;}
  section{
      overflow: hidden;
  }
  .mobile{display: block  !important;}
  .desktop{display: none;}
  .navbar-toggler i {
      color: #fff;
      font-size: 28px;
  }
  nav#mainNav .nav-item > a {
      padding: 10px 0;
      border-bottom: solid 1px #c3c3c329;
      display: flex;
      justify-content: space-between;
  }
  
 nav#mainNav .nav-item{
  padding: 0;
 }
 nav#mainNav{
  padding: 15px 0px;
  background: #253F89 !important;
 }
  .navbar-light .navbar-toggler {
      border: none;
      padding: 0;
      outline: none;
      box-shadow: none;
  }
  div#navbarSupportedContent {
      position: fixed;
      top: 0;
      width: 320px;
      left: -0px;
      background: #253F89;
      height: 100vh;
      padding: 20px;
      z-index: 9;
      display: block;
      transform: translateX(-320px);
      transition: all 400ms ease;
      padding-top: 60px;
  }
  .cross-toggler {
      background: #fff;
      border: none;
      color: #000;
      padding: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: 10px;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 9999;
  }
  ul.navbar-nav.ml-auto {
      height: calc(100vh - 60px);
      overflow: auto;
  }
  div#navbarSupportedContent.active{
      left: 320px;
      transition: all 400ms ease;
  }
  .overLay {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(0 0 0 / 51%);
      top: 0;
      left: 0;
      display: none;
  }

  .overLay.active {
      display: block;
  }
  .cross-toggler img{
    max-width: 15px;
  }
}